#buttons{
    display: flex;
    flex: 1;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    background:rgb(248, 249, 250);
}


.choice{
        border: .4rem solid black;
        border-radius: .5rem;
        margin: 1rem;
        font-size: 1.5rem;
        padding: 1rem .5rem;
        width: 10rem;
        text-align: center;
        color: white;
        background: rgba(0,0,0,0.4);
        text-shadow: 0 0 .5rem black;
        cursor:pointer;
}


.results{
    font-size:20pt;
    color:#ffc600;
    background:blue;
    text-align: center;
    margin:auto;
    padding-top:20px;
    padding-bottom:20px;
}